.header {
	width: 100%;
	height: 100vh;
	background: url('../images/backgrounds/header-bg.png') 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	display: flex;
	align-items: center;
	align-content: center;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0px 15px;
	position: absolute;
	text-transform: uppercase;
}

.menu-head {
	width: 100%;
	height: 30px;
	margin: auto;
	position: absolute;
	display: flex;
	justify-content: space-between;
	

	@media (min-width: 576px) {
		max-width: 540px;
	}

	@media (max-width: 768px) {
		top: 15px;
	}

	@media (min-width: 768px) {
		top: 80px;
		max-width: 720px;
	}

	@media (min-width: 992px) {
		max-width: 960px;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
	}
}

.logo {
	display: flex;
	align-items: center;
}

.logo-img {
	width: 50px;
	height: auto;
}

.logo-text {
	font-size: 20px;
}

.navigation {
	width: 40%;
	display: flex;
	align-items: center;
	ul {
		width: 100%;
		display: flex;
		justify-content: space-between;
		list-style: none;
	}
	@media (max-width: 768px) {
		width: auto;
		padding: 0px 15px;
		ul {
			display: none;
		}
	}

}

.mobile-navigation {
	display: none;
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	width: 320px;
	height: 100vh;
	overflow: hidden;
	ul {
		width: 100%;
		height: 100vh;
		background: #999;
		list-style: none;
		display: flex;
		transform: translateX(320px);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: .3s ease;
		li.nav-item {
			margin: 50px 0px;
		}
	}
	@media (max-width: 768px) {
		display: block;
	}
	.close-menu-btn {
		position: absolute;
		padding: 5px 10px;
		right: 15px;
		top: 15px;
		z-index: 10;
		font-size: 20px;
		color: #fff;
		background: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}
}

.mobile-navigation__active {
	z-index: 10;
	ul {
		transform: translateX(0px);
	}
}

.nav-item {
	
}

.nav-link {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	&:hover {
		font-weight: 600;
	}
}

.nav-link__active {
	font-weight: 600;
}

.menu-btn {
	width: 30px;
	height: 30px;
	display: none;
	position: fixed;
	right: 10px;
	z-index: 9999;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s ease;
	@media (max-width: 768px) {
		display: block;
	}
}

.menu-btn-lines {
	display: block;
	width: 25px;
	height: 4px;
	background: #999;
	position: relative;
	transition: .3s ease;
	&:after, &:before {
		content: '';
		display: block; 
		width: 25px;
		height: 4px;
		background: #999;
		position: absolute;
	}
	&:after {
		transform: translateY(8px);
	}
	&:before {
		transform: translateY(-8px);
	}
}

.some-wrapper {
	width: 100%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	position: absolute;
}

.networks {
	position: absolute;
	top: 42vh;
	ul {
		list-style: none;
	}

	@media (max-width: 576px) {
		top: 35vh;
		.network-item {
			margin-left: 0px;
		}
	}
}

.network-item {
	margin: 5px 0px 5px 15px;
}

.network-link {
	
}

.network-logo {
	width: 40px;
	height: auto;
}

.scroll {
	display: flex;
	height: 20px;
	position: absolute;
	align-items: center;
	top: 70vh;
	right: -25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	transform: rotate(90deg);
	animation: button-animation 1.5s ease-in infinite;
}

.scroll-arrow {
	display: block;
	position: relative;
	width: 15px;
	height: 2px;
	margin-left: 5px;
	background: #fff;
	border-radius: 3px;
	&:after, &:before {
		content: '';
		position: absolute;
		display: block;
		height: 2px;
		width: 5px;
		background: #fff;
		border-radius: 3px;
		right: 0px;
	}
	&:after {
		top: 1px;
		transform: rotate(-35deg);
	}
	&:before {
		top: -1px;
		transform: rotate(35deg);
	}
}


@keyframes button-animation {
	0% {
		top: 70vh;
	}
	50% {
		top: 72vh;
	}
	100% {
		top: 70vh;
	}
}

.content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width: 576px) {
		flex-direction: column-reverse;
		.photo {
			width: 80%;
		}
	}
}

.photo {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		@media (min-width: 320px) {
			width: 90%;
		}

		@media (min-width: 576px) {
			width: 80%;
		}
	}
}

.tagline {
	display: flex;
	flex-direction: column;
	margin-left: -15%;
	text-transform: uppercase;
	h1 {
		max-width: 100%;
		font-weight: 300;
		margin-top: 50px;
	}
	span {
		display: block;
		&:first-child {
			font-size: 78px;
		}
		&:last-child {
			font-size: 60px;
			letter-spacing: 46px;
		}
	}

	@media (max-width: 576px) {
		margin-left: 5%;
		h1 {
			margin: 0px;
		}
		span {
			&:first-child {
				font-size: 35px;
			}
			&:last-child {
				font-size: 27px;
				letter-spacing: 20.5px;
			}
		}
	}

	@media (min-width: 576px) {
		span {
			&:first-child {
				font-size: 35px;
			}
			&:last-child {
				font-size: 27px;
				letter-spacing: 20.5px;
			}
		}
	}

	@media (min-width: 768px) {
		h1 {
		}
		span {
			&:first-child {
				font-size: 46px;
			}
			&:last-child {
				font-size: 36px;
				letter-spacing: 26px;
			}
		}
	}

	@media (min-width: 992px) {
		span {
			&:first-child {
				font-size: 65px;
			}
			&:last-child {
				font-size: 45px;
				letter-spacing: 41.5px;
			}
		}
	}

	@media (min-width: 1200px) {
		span {
			&:first-child {
				font-size: 78px;
			}
			&:last-child {
				font-size: 60px;
				letter-spacing: 46px;
			}
		}
	}
}

