* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background: #000;
	color: #fff;
	font-family: 'Arial', sans-serif;
	overflow: hidden;
}

@import '_header.scss';
@import '_about-me.scss';
@import '_portfolio.scss';
@import '_contacts.scss';